@use "../helpers/variables";

.btn-to-header {
    border: 0;
    background: transparent;
    color: variables.$main-text-color-white;
    font-size: 25px;
}

.singOnline-header {
    color: variables.$main-text-color-white;
    font-family: "header-font", sans-serif;
    font-weight: 500;
}