@mixin flexBox($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin gridTemplateColumns($amount: 1, $space: 1fr) {
    grid-template-columns: repeat($amount, $space fr);
}

@mixin gridTemplateRows($amount: 1, $space: 1fr) {
    grid-template-rows: repeat($amount, $space fr);
}

@mixin background-image($url, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: url($url);
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

@mixin positionAbsolute($y, $x, $Yx: 50%, $Xy: 50%) {
    position: absolute;
    top: $y;
    left: $x;
    transform: translate(-$Yx, -Xy);
}