$main-header-background: #0B0B0B;
$main-text-color-white: #ffffff;

$landing-linear-background-color: linear-gradient("#314764, #1F1E32, #262546");
$song-details-linear-background-color: linear-gradient("#090A0B, #19172E, #0F0F14");

$get-started-btn-background: #61853D;
$form-input-background-color: #000000;
$form-login-btn-color: #42458F;
$form-reset-btn-color: #D71E1E;

$mobile-star-not-clicked-color: #D9D9D9;
$desktop-star-not-clicked-color: #8B6868;
$desktop-star-not-clicked-alt-color: #DEDEDE;
$star-clicked-color: #E3F321;

$user-action-btns-background-color: #1C1C1C;
$song-search-input-background: #D9D9D9;
$song-search-input-placeholder: #00000060; 

$searched-song-background-color: #1C1C1C30;
$artist-album-background-color: #1C1C1C50;

$user-role-background-color: #D9D9D940;