$main-header-background: #0b0b0b;
$main-text-color-white: #ffffff;

$landing-linear-background-color: linear-gradient(#314764, #1f1e32, #262546);
$song-details-linear-background-color: linear-gradient(
  "#090A0B, #19172E, #0F0F14"
);

$get-started-btn-background: #61853d;
$form-input-background-color: #000000;
$form-login-btn-color: #42458f;
$form-reset-btn-color: #d71e1e;

$mobile-star-not-clicked-color: #d9d9d9;
$desktop-star-not-clicked-color: #8b6868;
$desktop-star-not-clicked-alt-color: #dedede;
$star-clicked-color: #e3f321;

$user-action-btns-background-color: #1c1c1c;
$song-search-input-background: #d9d9d9;
$song-search-input-placeholder: #00000060;

$searched-song-background-color: #1c1c1c30;
$artist-album-background-color: #1c1c1c50;

$user-role-background-color: #d9d9d940;
