@use "../../helpers/variables";
@use "../../helpers/extends";
@use "../../fonts/fonts";
@use "../../helpers/mixins";

.song-container {
  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-result-container {
    padding-left: 0.5rem;
    @include mixins.flexBox(column, center, center);
    gap: 1rem;

    .searched-song {
      position: relative;

      @media (min-width: 1300px) {
        margin: 0;
        @include mixins.flexBox(row, center, center);
        gap: 0.7rem;
        background: #1c1c1c70;

        header {
          @include mixins.flexBox(row, center, center);
          gap: 0.9rem;
        }
      }
      img {
        width: 40vw;
        border-radius: 6px;

        &:hover {
          cursor: pointer;
        }

        @media (min-width: 1300px) {
          width: 15vw;
        }
      }

      header {
        h3,
        h4 {
          margin: 0;
          padding: 0.3rem 0rem;
        }

        @media (min-width: 1300px) {
          h3 {
            font-size: 25px;
          }
        }
      }

      .star-btn-container {
        @media (min-width: 1300px) {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          height: 400px;
          padding: 0rem 0.6rem 0.6rem 0rem;
        }

        .song-star {
          @extend .btn-to-header;
          position: absolute;
          top: 0;
          right: 10px !important; //will not work without !important >:(

          @media (min-width: 1300px) {
            right: 7vw;
          }
        }

        .album-container {
          display: none;

          @media (min-width: 1300px) {
            @include mixins.flexBox(column, center, center);

            h4 {
              margin: 0;
              padding-top: 0.4rem;
            }

          & {
            img {
              display: block;
              width: 5vw;
            } 
          }
            
          }
        }
      }
    }
  }
}
