@use "../../helpers/variables";
@use "../../helpers/extends";
@use "../../fonts/fonts";
@use "../../helpers/mixins";

.popular-songs-container {
  width: 100%;
}

.songs-container {
  @include mixins.flexBox(row, flex-start, center);
  overflow: auto;

  .popular-song {
    @include mixins.flexBox(column, center, center);
    max-height: 330px;

    @media (min-width: 1300px) {
      position: relative;
      &:hover {
        scale: 1.1;
        cursor: pointer;
      }
    }

    img {
      width: 20vw;
      @media (min-width: 1300px) {
        width: 8vw;
      }
    }

    .song-list-btn-container {
      display: none;
      @media (min-width: 1300px) {
        display: block;
        position: absolute;
        top: 0;
        right: 2%;

        .song-star {
          border: 0;
          background: transparent;
          font-size: 30px;

          &:hover {
            rotate: 20deg;
            cursor: pointer;
          }
        }
      }
    }
  }
}
