@use "../../helpers/variables";
@use "../../helpers/extends";
@use "../../fonts/fonts";
@use "../../helpers/mixins";
.song-container {
  .search-container {
    @include mixins.gridTemplateColumns(1);
    border-bottom: 2px solid variables.$main-text-color-white;
    padding-top: 0.8rem;

    @media (min-width: 1300px) {
      @include mixins.flexBox(column, flex-start, center);
      
    }

    @media (min-width: 1300px) {
      & {
        padding-top: 6rem;
        border: 0;
        border-right: 2px solid variables.$main-text-color-white;
      }
    }

    .search-bar-container {
      @media (min-width: 1300px) {
        position: fixed;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      }
    }

    .song-search-bar {
      border-radius: 9px;
      background: variables.$song-search-input-background;
      outline: none;
      padding: 0.4rem 0.6rem;

      @media (min-width: 1300px) {
        padding: 0.6rem 0.6rem;
        width: 90%;
      }

      &::placeholder {
        text-align: left;
        font-size: 19px;

      }
    }

    header {
      @media (min-width: 1300px) {
        font-size: 21px;
      }
    }
  }
}
