@use "../../helpers/variables";
@use "../../helpers/extends";
@use "../../fonts/fonts";
@use "../../helpers/mixins";

.artists-header {
    h2 {
        border-bottom: 2px solid variables.$main-text-color-white;
        padding: 0rem 4rem;
        @media (min-width: 1300px) {
            padding: 0rem 12vw;
            font-size: 2vw;
        }
    }
}

.artists-container {
    @include mixins.gridTemplateColumns(1);

    @media (min-width: 1300px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .artist-container {
        @include mixins.flexBox(column, center, center);
        height: 500px;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }

        img {
            width: 46vw;
            border-radius: 5px;

            @media (min-width: 1300px) {
                width: 19vw;
            }
        }
    }
}