@use "../helpers/variables";
@use "../helpers/extends";
@use "../fonts/fonts";
@use "../helpers/mixins";

.artist-container {
    @include mixins.flexBox(column, flex-start, center);

    .artist-info-container {
        @include mixins.flexBox(row, center, center);
        gap: 0.5rem;

        img {
            width: 45vw;
        }
    }

    .albums-container {

        .albums-container-figure {

            .album-header-info {

                hgroup {
                    @include mixins.flexBox(column, center, center);

                    h3, h4 {
                        margin: 0;
                        padding: 0.3rem 0rem;
                    }
                }
            }

            img {
                width: 20vw;
            }
        }
    }
}