@use "../helpers/variables";
@use "../helpers/extends";
@use "../fonts/fonts";
@use "../helpers/mixins";

.main-header {
    @include mixins.flexBox(row, space-between, center);
    background: variables.$main-header-background;
    position: relative;

    @media (min-width: 1300px) {
        padding: 0rem 0.7rem;
    }

    .header-logo-container {
        @include mixins.flexBox(row, center, center);
        padding-left: 0.4rem;

        #home {
            @extend .singOnline-header;

            &:hover {
                scale: 1.2;
                cursor: pointer;
            }
        }

        .singonline-logo {
            width: 10vw;

            @media (min-width: 1300px) {
                width: 5vw;
            }
        }
    }
}