@use "../helpers/variables";
@use "../helpers/extends";
@use "../fonts/fonts";
@use "../helpers/mixins";

.main-header {
    @include mixins.flexBox(row, space-between, center);
    background: variables.$main-header-background;
    position: relative;

    .header-logo-container {
        @include mixins.flexBox(row, center, center);
        padding-left: 0.4rem;

        #home {
            @extend .singOnline-header;
        }

        .singonline-logo {
            width: 10vw;
        }
    }
}