@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.btn-to-header, .main-footer .footer-navigation button, .artist-container .albums-container .albums-container-figure figcaption .album-tracks li button, .song-details-container .song-detail-top .song-btns-container button, .song-container .search-result-container .searched-song .star-btn-container .song-star, .featured-song-container .featured-song header button, .main-nav .main-nav-menu.show-menu li button {
  border: 0;
  background: transparent;
  color: #ffffff;
  font-size: 25px;
}

.singOnline-header, .main-footer .name-header h2, .landing-container header h2, .main-header .header-logo-container #home {
  color: #ffffff;
  font-family: "header-font", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "header-font";
  src: url(../../../_FILES/fonts/Pacifico.ttf);
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #0b0b0b;
  position: relative;
}
@media (min-width: 1300px) {
  .main-header {
    padding: 0rem 0.7rem;
  }
}
.main-header .header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0.4rem;
}
.main-header .header-logo-container #home:hover {
  scale: 1.2;
  cursor: pointer;
}
.main-header .header-logo-container .singonline-logo {
  width: 10vw;
}
@media (min-width: 1300px) {
  .main-header .header-logo-container .singonline-logo {
    width: 5vw;
  }
}

@keyframes navbarDropdown {
  0% {
    top: 70%;
  }
  80% {
    top: 84.9%;
  }
  100% {
    top: 84%;
  }
}
@keyframes burgerTop {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(13px) rotate(45deg);
  }
}
@keyframes burgerMiddle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes burgerBottom {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translateY(-13px) rotate(-45deg);
  }
}
.main-nav .main-nav-menu {
  display: none;
}
@media (min-width: 1300px) {
  .main-nav .main-nav-menu {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .main-nav .main-nav-menu li {
    list-style-type: none;
  }
  .main-nav .main-nav-menu button {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 26px;
  }
  .main-nav .main-nav-menu button:hover {
    cursor: pointer;
    scale: 1.2;
  }
}
.main-nav .main-nav-menu.show-menu {
  z-index: 999;
  animation: navbarDropdown 0.3s 1 forwards linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #0b0b0b;
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
}
.main-nav .main-nav-menu.show-menu li {
  list-style-type: none;
}
.main-nav .main-nav-menu.show-menu li button:last-of-type {
  padding-bottom: 0.6rem;
}
.main-nav #hamburger {
  display: block;
}
@media (min-width: 1300px) {
  .main-nav #hamburger {
    display: none;
  }
}
.main-nav #hamburger .bar {
  display: block;
  margin: 7px 8px;
  width: 25px;
  height: 6px;
  background: #ffffff;
}
.main-nav #hamburger .bar.burger-top {
  animation: burgerTop 0.5s 1 forwards ease-in-out;
}
.main-nav #hamburger .bar.burger-middle {
  animation: burgerMiddle 0.5s 1 forwards ease-in-out;
}
.main-nav #hamburger .bar.burger-bottom {
  animation: burgerBottom 0.5s 1 forwards ease-in-out;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/media/SingOnline-Landing-Video.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180vw;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media (min-width: 1300px) {
  .landing-container {
    height: 49.2vw;
  }
}
.landing-container header h2 {
  font-size: 34px;
  filter: drop-shadow(9px 8px rgba(0, 0, 0, 0.6));
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5333333333);
  margin: 0;
}
@media (min-width: 1300px) {
  .landing-container header h2 {
    font-size: 3vw;
  }
}
.landing-container header p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5333333333);
}
@media (min-width: 1300px) {
  .landing-container header p {
    font-size: 1.2vw;
  }
}
.landing-container .landing-content p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5333333333);
  width: 160px;
}
@media (min-width: 1300px) {
  .landing-container .landing-content p {
    font-size: 1vw;
    width: 260px;
    text-shadow: 1px 1px 1px #000000;
  }
}
.landing-container .landing-content .btn-footer {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
}
.landing-container .landing-content .btn-footer .get-started-btn {
  background: #61853d;
  border: 0;
  border: 3px solid #1A1919;
  color: #ffffff;
  padding: 1.1rem 1.5rem;
  border-radius: 50px;
  font-size: 18px;
}
.landing-container .landing-content .btn-footer .get-started-btn:hover {
  scale: 1.1;
  cursor: pointer;
}

@media (min-width: 1300px) {
  .featured-song-container {
    border-bottom: 2px solid #ffffff;
  }
}
.featured-song-container .featured-song {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song {
    position: relative;
    background: rgba(28, 28, 28, 0.3137254902);
    padding: 0rem 0.5rem;
    border-radius: 10px;
  }
}
.featured-song-container .featured-song img {
  width: 35vw;
  border-radius: 4px;
}
.featured-song-container .featured-song img:hover {
  cursor: pointer;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song img {
    width: 14vw;
  }
}
.featured-song-container .featured-song header hgroup h3,
.featured-song-container .featured-song header hgroup h4 {
  margin: 0;
  padding-bottom: 0.5rem;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song header button {
    position: absolute;
    left: 48%;
    top: 0;
  }
  .featured-song-container .featured-song header button:hover {
    rotate: 20deg;
    cursor: pointer;
  }
}
.featured-song-container .featured-song header .album-container {
  display: none;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song header .album-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }
  .featured-song-container .featured-song header .album-container img {
    width: 6vw;
  }
}

.popular-songs-container {
  width: 100%;
}

.songs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
.songs-container .popular-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1300px) {
  .songs-container .popular-song {
    position: relative;
  }
  .songs-container .popular-song:hover {
    scale: 1.1;
    cursor: pointer;
  }
}
.songs-container .popular-song img {
  width: 20vw;
}
@media (min-width: 1300px) {
  .songs-container .popular-song img {
    width: 8vw;
  }
}
.songs-container .popular-song .song-list-btn-container {
  display: none;
}
@media (min-width: 1300px) {
  .songs-container .popular-song .song-list-btn-container {
    display: block;
    position: absolute;
    top: 0;
    right: 2%;
  }
  .songs-container .popular-song .song-list-btn-container .song-star {
    border: 0;
    background: transparent;
    font-size: 30px;
  }
  .songs-container .popular-song .song-list-btn-container .song-star:hover {
    rotate: 20deg;
    cursor: pointer;
  }
}

.song-container .search-container {
  grid-template-columns: repeat(1, 1fr fr);
  border-bottom: 2px solid #ffffff;
  padding-top: 0.8rem;
}
@media (min-width: 1300px) {
  .song-container .search-container {
    padding-top: 6rem;
    border: 0;
    border-right: 2px solid #ffffff;
  }
}
.song-container .search-container .song-search-bar {
  border-radius: 9px;
  background: #d9d9d9;
  outline: none;
  padding: 0.4rem 0.6rem;
}
.song-container .search-container .song-search-bar::-moz-placeholder {
  text-align: left;
  font-size: 19px;
}
.song-container .search-container .song-search-bar::placeholder {
  text-align: left;
  font-size: 19px;
}

@media (min-width: 1300px) {
  .song-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.song-container .search-result-container {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.song-container .search-result-container .searched-song {
  position: relative;
}
@media (min-width: 1300px) {
  .song-container .search-result-container .searched-song {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background: rgba(28, 28, 28, 0.4392156863);
  }
  .song-container .search-result-container .searched-song header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
  }
}
.song-container .search-result-container .searched-song img {
  width: 40vw;
  border-radius: 6px;
}
.song-container .search-result-container .searched-song img:hover {
  cursor: pointer;
}
@media (min-width: 1300px) {
  .song-container .search-result-container .searched-song img {
    width: 15vw;
  }
}
.song-container .search-result-container .searched-song header h3,
.song-container .search-result-container .searched-song header h4 {
  margin: 0;
  padding: 0.3rem 0rem;
}
@media (min-width: 1300px) {
  .song-container .search-result-container .searched-song header h3 {
    font-size: 25px;
  }
}
@media (min-width: 1300px) {
  .song-container .search-result-container .searched-song .star-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    padding: 0rem 0.6rem 0.6rem 0rem;
  }
}
.song-container .search-result-container .searched-song .star-btn-container .song-star {
  position: absolute;
  top: 0;
  right: 10px !important;
}
@media (min-width: 1300px) {
  .song-container .search-result-container .searched-song .star-btn-container .song-star {
    right: 7vw;
  }
}
.song-container .search-result-container .searched-song .star-btn-container .album-container {
  display: none;
}
@media (min-width: 1300px) {
  .song-container .search-result-container .searched-song .star-btn-container .album-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .song-container .search-result-container .searched-song .star-btn-container .album-container h4 {
    margin: 0;
    padding-top: 0.4rem;
  }
  .song-container .search-result-container .searched-song .star-btn-container .album-container img {
    display: block;
    width: 5vw;
  }
}

.song-details-container {
  width: 100%;
  background: linear-gradient(#090A0B, #19172E, #0F0F14);
}
.song-details-container .dot-container {
  display: block;
}
@media (min-width: 1300px) {
  .song-details-container .dot-container:hover {
    cursor: pointer;
  }
}
.song-details-container .dot-container .dot {
  display: block;
  margin: 6px 2px;
  width: 12px;
  height: 8px;
  border-radius: 100%;
  background: #ffffff;
}
.song-details-container .song-detail-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
  padding-top: 0.6rem;
}
@media (min-width: 1300px) {
  .song-details-container .song-detail-top .song-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }
}
.song-details-container .song-detail-top .song-image-container img {
  width: 24vw;
}
@media (min-width: 1300px) {
  .song-details-container .song-detail-top .song-image-container img {
    width: 11vw;
  }
}
@media (min-width: 1300px) {
  .song-details-container .song-detail-top .song-image-container header .song-album {
    display: none;
  }
}
.song-details-container .song-detail-top .song-image-container header h2 {
  margin: 0;
}
.song-details-container .song-detail-top .song-image-container header .song-artist:hover {
  cursor: pointer;
  scale: 1.1;
}
.song-details-container .song-detail-top .song-image-container .album-container {
  display: none;
}
@media (min-width: 1300px) {
  .song-details-container .song-detail-top .song-image-container .album-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }
  .song-details-container .song-detail-top .song-image-container .album-container img {
    width: 4vw;
  }
  .song-details-container .song-detail-top .song-image-container .album-container h3:hover {
    cursor: pointer;
  }
}
.song-details-container .song-detail-top .song-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.song-details-container .song-detail-top .song-btns-container button:hover {
  cursor: pointer;
}
.song-details-container .song-detail-top .song-btns-container .close-song-btn:hover {
  scale: 1.2;
}
.song-details-container .song-detail-top .song-btns-container .song-star:hover {
  rotate: -35deg;
}
.song-details-container .song-lyrics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.song-details-container .song-lyrics-container p {
  width: 200px;
  text-shadow: 2px 2px #000000;
}
@media (min-width: 1300px) {
  .song-details-container .song-lyrics-container p {
    font-size: 19px;
  }
}

.artists-header h2 {
  border-bottom: 2px solid #ffffff;
  padding: 0rem 4rem;
}
@media (min-width: 1300px) {
  .artists-header h2 {
    padding: 0rem 12vw;
    font-size: 2vw;
  }
}

.artists-container {
  grid-template-columns: repeat(1, 1fr fr);
}
@media (min-width: 1300px) {
  .artists-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
.artists-container .artist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artists-container .artist-container:hover {
  scale: 1.1;
  cursor: pointer;
}
.artists-container .artist-container img {
  width: 46vw;
  border-radius: 5px;
}
@media (min-width: 1300px) {
  .artists-container .artist-container img {
    width: 19vw;
  }
}

.artist-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1300px) {
  .artist-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.artist-container .artist-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 1300px) {
  .artist-container .artist-info-container {
    justify-content: flex-start;
    border-right: 2px solid #fff;
    height: 84%;
    padding-right: 0.4rem;
  }
  .artist-container .artist-info-container .artist-header {
    display: none;
  }
}
.artist-container .artist-info-container img {
  width: 45vw;
}
@media (min-width: 1300px) {
  .artist-container .artist-info-container img {
    width: 20vw;
  }
}
.artist-container .artist-info-container .desktop-artist-header {
  display: none;
}
@media (min-width: 1300px) {
  .artist-container .artist-info-container .desktop-artist-header {
    display: block;
  }
}
.artist-container .albums-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1300px) {
  .artist-container .albums-container {
    flex-direction: column;
  }
}
.artist-container .albums-container .albums-container-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1300px) {
  .artist-container .albums-container .albums-container-figure {
    background: rgba(28, 28, 28, 0.3137254902);
    padding: 0.6rem;
  }
}
.artist-container .albums-container .albums-container-figure .album-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1300px) {
  .artist-container .albums-container .albums-container-figure .album-header-info {
    flex-direction: row;
    gap: 0.5rem;
  }
}
.artist-container .albums-container .albums-container-figure .album-header-info hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1300px) {
  .artist-container .albums-container .albums-container-figure .album-header-info hgroup {
    align-items: flex-start;
  }
}
.artist-container .albums-container .albums-container-figure .album-header-info hgroup h3,
.artist-container .albums-container .albums-container-figure .album-header-info hgroup h4 {
  margin: 0;
  padding: 0.3rem 0rem;
}
.artist-container .albums-container .albums-container-figure img {
  width: 20vw;
}
@media (min-width: 1300px) {
  .artist-container .albums-container .albums-container-figure img {
    width: 5vw;
  }
}
.artist-container .albums-container .albums-container-figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artist-container .albums-container .albums-container-figure figcaption .album-tracks {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.artist-container .albums-container .albums-container-figure figcaption .album-tracks li {
  list-style-type: none;
}
.artist-container .albums-container .albums-container-figure figcaption .album-tracks li button {
  font-size: 16px;
}
@media (min-width: 1300px) {
  .artist-container .albums-container .albums-container-figure figcaption .album-tracks li button {
    font-size: 20px;
    cursor: pointer;
    scale: 1.2;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #0b0b0b;
}
.main-footer .name-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-family: "Roboto", sans-serif;
}
.main-footer .name-header h2 {
  font-size: 30px;
}
.main-footer .footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1300px) {
  .main-footer .footer-navigation {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  height: 100%;
  background: linear-gradient(#314764, #1f1e32, #262546);
}