@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.btn-to-header, .main-footer .footer-navigation button, .featured-song-container .featured-song header button, .main-nav .main-nav-menu.show-menu li button {
  border: 0;
  background: transparent;
  color: #ffffff;
  font-size: 25px;
}

.singOnline-header, .main-footer .name-header h2, .landing-container header h2, .main-header .header-logo-container #home {
  color: #ffffff;
  font-family: "header-font", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "header-font";
  src: url(../../../_FILES/fonts/Pacifico.ttf);
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #0B0B0B;
  position: relative;
}
@media (min-width: 1300px) {
  .main-header {
    padding: 0rem 0.7rem;
  }
}
.main-header .header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0.4rem;
}
.main-header .header-logo-container .singonline-logo {
  width: 10vw;
}
@media (min-width: 1300px) {
  .main-header .header-logo-container .singonline-logo {
    width: 5vw;
  }
}

@-webkit-keyframes navbarDropdown {
  0% {
    top: 70%;
  }
  80% {
    top: 84.9%;
  }
  100% {
    top: 84%;
  }
}

@keyframes navbarDropdown {
  0% {
    top: 70%;
  }
  80% {
    top: 84.9%;
  }
  100% {
    top: 84%;
  }
}
@-webkit-keyframes burgerTop {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(13px) rotate(45deg);
  }
}
@keyframes burgerTop {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(13px) rotate(45deg);
  }
}
@-webkit-keyframes burgerMiddle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes burgerMiddle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes burgerBottom {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translateY(-13px) rotate(-45deg);
  }
}
@keyframes burgerBottom {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translateY(-13px) rotate(-45deg);
  }
}
.main-nav .main-nav-menu {
  display: none;
}
@media (min-width: 1300px) {
  .main-nav .main-nav-menu {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .main-nav .main-nav-menu li {
    list-style-type: none;
  }
  .main-nav .main-nav-menu button {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 26px;
  }
}
.main-nav .main-nav-menu.show-menu {
  z-index: 999;
  -webkit-animation: navbarDropdown 0.3s 1 forwards linear;
          animation: navbarDropdown 0.3s 1 forwards linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #0B0B0B;
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
}
.main-nav .main-nav-menu.show-menu li {
  list-style-type: none;
}
.main-nav .main-nav-menu.show-menu li button:last-of-type {
  padding-bottom: 0.6rem;
}
.main-nav #hamburger {
  display: block;
}
@media (min-width: 1300px) {
  .main-nav #hamburger {
    display: none;
  }
}
.main-nav #hamburger .bar {
  display: block;
  margin: 7px 8px;
  width: 25px;
  height: 6px;
  background: #ffffff;
}
.main-nav #hamburger .bar.burger-top {
  -webkit-animation: burgerTop 0.5s 1 forwards ease-in-out;
          animation: burgerTop 0.5s 1 forwards ease-in-out;
}
.main-nav #hamburger .bar.burger-middle {
  -webkit-animation: burgerMiddle 0.5s 1 forwards ease-in-out;
          animation: burgerMiddle 0.5s 1 forwards ease-in-out;
}
.main-nav #hamburger .bar.burger-bottom {
  -webkit-animation: burgerBottom 0.5s 1 forwards ease-in-out;
          animation: burgerBottom 0.5s 1 forwards ease-in-out;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/media/SingOnline-Landing-Video.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180vw;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media (min-width: 1300px) {
  .landing-container {
    height: 49.2vw;
  }
}
.landing-container header h2 {
  font-size: 34px;
  filter: drop-shadow(9px 8px rgba(0, 0, 0, 0.6));
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5333333333);
  margin: 0;
}
@media (min-width: 1300px) {
  .landing-container header h2 {
    font-size: 3vw;
  }
}
.landing-container header p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5333333333);
}
@media (min-width: 1300px) {
  .landing-container header p {
    font-size: 1.2vw;
  }
}
.landing-container .landing-content p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5333333333);
  width: 160px;
}
@media (min-width: 1300px) {
  .landing-container .landing-content p {
    font-size: 1vw;
    width: 260px;
    text-shadow: 1px 1px 1px #000000;
  }
}
.landing-container .landing-content .btn-footer {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
}
.landing-container .landing-content .btn-footer .get-started-btn {
  background: #61853D;
  border: 0;
  border: 3px solid #1A1919;
  color: #ffffff;
  padding: 1.1rem 1.5rem;
  border-radius: 50px;
  font-size: 18px;
}
.landing-container .landing-content .btn-footer .get-started-btn:hover {
  scale: 1.1;
  cursor: pointer;
}

@media (min-width: 1300px) {
  .featured-song-container {
    border-bottom: 2px solid #ffffff;
  }
}
.featured-song-container .featured-song {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song {
    position: relative;
    background: rgba(28, 28, 28, 0.3137254902);
    padding: 0rem 0.5rem;
    border-radius: 10px;
  }
}
.featured-song-container .featured-song img {
  width: 35vw;
  border-radius: 4px;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song img {
    width: 14vw;
  }
}
.featured-song-container .featured-song header hgroup h3,
.featured-song-container .featured-song header hgroup h4 {
  margin: 0;
  padding-bottom: 0.5rem;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song header button {
    position: absolute;
    left: 48%;
    top: 0;
  }
  .featured-song-container .featured-song header button:hover {
    rotate: 20deg;
    cursor: pointer;
  }
}
.featured-song-container .featured-song header .album-container {
  display: none;
}
@media (min-width: 1300px) {
  .featured-song-container .featured-song header .album-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }
  .featured-song-container .featured-song header .album-container img {
    width: 6vw;
  }
}

.popular-songs-container {
  width: 100%;
}

.songs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
.songs-container .popular-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1300px) {
  .songs-container .popular-song {
    position: relative;
  }
  .songs-container .popular-song:hover {
    scale: 1.1;
    cursor: pointer;
  }
}
.songs-container .popular-song img {
  width: 20vw;
}
@media (min-width: 1300px) {
  .songs-container .popular-song img {
    width: 8vw;
  }
}
.songs-container .popular-song .song-list-btn-container {
  display: none;
}
@media (min-width: 1300px) {
  .songs-container .popular-song .song-list-btn-container {
    display: block;
    position: absolute;
    top: 0;
    right: 2%;
  }
  .songs-container .popular-song .song-list-btn-container .song-star {
    border: 0;
    background: transparent;
    font-size: 30px;
  }
  .songs-container .popular-song .song-list-btn-container .song-star:hover {
    rotate: 20deg;
    cursor: pointer;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #0B0B0B;
}
.main-footer .name-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-family: "Roboto", sans-serif;
}
.main-footer .name-header h2 {
  font-size: 30px;
}
.main-footer .footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1300px) {
  .main-footer .footer-navigation {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  height: 100%;
  background: linear-gradient(#314764, #1F1E32, #262546);
}